.bg{
  background-color: crimson;
  font-family: monospace;
  font-size: 1.7rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
h2,h3{
  text-align: center;
}

.pform{

  background-color: gold;
  padding: 20px;
  margin: 3.125rem auto 50px auto;
  border-radius: 5px;
}
.three{
  width: 100%;
}

@media (min-width: 576px) {
  .pform {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .pform {
    max-width: 720px;
  }
}

label{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-left: 3px;
}

[type] {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.1rem;
  min-width: 1.1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top:5px;
  margin-bottom: 5px;
  font-size: 15px;
}

.three{
  border-radius: 5px;
  border: 2px solid gold;
  transition: box-shadow .15s ease-in-out;
}

.three:focus{
  border-color: crimson;
  outline: 0;
  box-shadow: 0 0 0 .15rem crimson;
}
fieldset{
  border: 2px solid;
  margin-top: 20px;
  border-radius: 10px;
}

select{
  margin-top: -15px;
  font-size: 20px;
  padding: 10px;
}

textarea{
  height: 10rem;
  font-size: 15px;
  margin-top: -20px;
}

button{
  width: 100%;
  background-color: white;
  border: 5px solid crimson;
  border-radius: 10px;
  margin-top: 20px;
}
button:hover{
  animation-name: subm;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes subm{
  100%{background-color: crimson;}
}
